@{
    ViewBag.Title = "Features";
}

<section id="features" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="center">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Галерија</h2>
                    <hr>
                    <p class="lead">Дел од моите уметнички дела и дела кои се изработени за време на ликовни колонии</p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft">
                <h3>Креативна</h3>
                <img src="~/images/portfolio/recent/slika4.jpg" alt="" style="width: 100%; height: auto;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    non cupidatat skateboard dolor brunch.
                </p>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <h3>Фотографија</h3>
                <img src="~/images/portfolio/recent/slika5.jpg" alt=""  style="width: 100%; height: auto;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    non cupidatat skateboard dolor brunch.
                </p>
            </div>

            <div class="col-md-4 wow fadeInRight">
                <h3>Колонија</h3>
                <img src="~/images/portfolio/recent/slika6.jpg" alt=""  style="width: 100%; height: auto;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    non cupidatat skateboard dolor brunch.
                </p>
            </div>
        </div>
    </div>
</section>