@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <div class="col-md-6 col-md-offset-3">
                <h2>Портфолио</h2>
                <hr>
                <p class="lead">Проекти и Колонии на кои имам учествувано во текот на мојата уметничка кариера</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12">
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">Целосно</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Креативни</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Фотографии</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Колонии</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika5.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika6.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika7.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="~/images/portfolio/recent/slika8.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3>
                                        <a href="#">Тема</a>
                                    </h3>
                                    <p>Ова е некој текст со цел подобро да се претстави делото</p>
                                    <a class="preview" href="~/images/portfolio/full/slika8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i>Погледни Слика</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#portfolio-item-->